@import "../../../../styles/media.mixin.scss";

.nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background: linear-gradient(90deg, #f94c25 -0.8%, #ffd465 99.28%);
  gap: 30px;
  @include mobile {
    padding-left: 16px;
    padding-right: 16px;
  }
  @include desktop {
    gap: 80px;
  }

  .link {
    font-family: var(--main-font);
    font-weight: 600;
    color: #422f2f;
    font-size: 24px;
    padding: 24px 0;
    transition: all 250ms linear;
    display: flex;
    align-items: center;
    @include mobile {
      padding: 12px 0;
    }
    @include before-desktop {
      font-size: 20px;
    }

    &:hover {
      color: var(--main-hover-color);
    }
  }
  .active {
    color: var(--main-hover-color);
  }

  .hideOnMobile {
    @include mobile {
      display: none;
    }
  }
}
