.button {
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--white-color);
  border-radius: 12px;
  background: linear-gradient(95deg, #f94c25 4.78%, #ffd465 112.49%);
  border: none;
  transition: var(--transition);
  cursor: pointer;
  font-size: 18px;
  font-family: var(--main-font);
  &:hover {
    background: linear-gradient(276deg, #eb3535 -3.09%, #ffd163 95.38%);
    box-shadow: var(--box-shadow);
  }
  &:active {
    background: linear-gradient(95deg, #f94c25 4.78%, #ffd465 112.49%);
  }
}
