.fieldset {
    font-family: var(--secondary-font);
    border: none;
    textarea {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        resize: none;
    }
    .errorMessage {
        color: red;
    }
}
