.list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

  .listItem {
    box-shadow: 4px 4px 14px 0px rgba(59, 50, 50, 0.25);
    width: 200px;
    cursor: pointer;
    transition: all 250ms linear;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
  }

  .listItem:hover {
    scale: 1.1;
  }
}
