.list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
  .listItem {
    border: 1px solid black;
    width: 200px;
    cursor: pointer;
    transition: all 250ms linear;
    background-color: #fff;
    color: black;
    padding: 10px;
    border-radius: 10px;
  }
  .listItem:hover {
    scale: 1.1;
  }
}

