@import "../../../styles/media.mixin.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include mobile {
        flex-direction: column;
        gap: 12px;
    }
    .item {
        display: flex;
        flex-direction: column;
        gap: 12px;
        font-family: var(--main-font);
        font-weight: 700;
        font-size: 18px;
        text-align: left;
        @include mobile {
            text-align: center;
        }
        @include tablet {
            font-size: 14px;
        }
        a {
            transition: transform 250ms linear;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
