@font-face {
    font-family: "Comfortaa";
    src: url("./fonts/Comfortaa-SemiBold.ttf");
    font-weight: 600;
}

@font-face {
    font-family: "Comfortaa";
    src: url("./fonts/Comfortaa-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Inter";
    src: url("./fonts/Inter-Regular.ttf");
    font-weight: 400;
}
