* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 14px;
}

body {
  background-color: #fff4e4;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

h1 {
  text-align: center;
}

img {
  display: block;
}

:root {
  --main-font: "Comfortaa", sans-serif;
  --secondary-font: "Inter", sans-serif;
  --white-color: #ffffff;
  --black-color: #000000;
  --main-color: #422f2f;
  --main-hover-color: #f8f2f0;
}
