@import "./fonts.scss";

:root {
    --main-font: "Comfortaa", sans-serif;
    --secondary-font: "Inter", sans-serif;
    --white-color: #ffffff;
    --black-color: #000000;
    --main-color: #422f2f;
    --main-hover-color: #f8f2f0;
    --secondary-text-color: #989898;
    --accent-color: #de612b;
}
