@import "../../../styles/media.mixin.scss";

.wrapper {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    @include mobile {
        flex-direction: column;
    }
    address {
        font-style: normal;
        display: flex;
        flex-direction: column;
        gap: 24px;
        @include desktop {
            width: 50%;
        }
        @include mobile {
            gap: 12px;
        }
    }
    p {
        font-family: var(--main-font);
        font-size: 24px;
        @include mobile {
            font-size: 16px;
        }
    }
}
