.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  .main {
    flex: auto;
  }
}
