.button {
  padding: 12px 24px;
  display: flex;
  gap: 10px;
  color: var(--white-color);
  border-radius: 12px;
  background: linear-gradient(95deg, #f94c25 4.78%, #ffd465 112.49%);
  border: none;
  align-items: center;
  justify-content: center;
  transition: all 250ms linear;
  cursor: pointer;
  font-size: 18px;
  font-family: var(--main-font);
  svg {
    font-size: 16px;
  }
  &:hover {
    background: linear-gradient(276deg, #eb3535 -3.09%, #ffd163 95.38%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  &:active {
    background: linear-gradient(95deg, #f94c25 4.78%, #ffd465 112.49%);
  }
}
