.nav {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.link {
  padding: 10px;
  transition: all 250ms linear;
  display: flex;
  align-items: center;
  gap: 10px;

  &:hover {
    transform: scale(1.1);
  }
}
