.fieldset {
    font-family: var(--secondary-font);
    border: none;
    input {
        width: 100%;
        padding: 12px;
        border-radius: 5px;
        transition: var(--transition);
        border: 1px solid var(--accent-color);
        outline: none;
        &:hover {
            box-shadow: var(--box-shadow);
        }
    }
    .errorMessage {
        color: red;
    }
}
