@import "../../../../styles/media.mixin.scss";

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--secondary-font);
    a {
        transition: transform 250ms linear;
        &:hover {
            transform: scale(1.1);
        }
    }
}
