@import "../../../styles/media.mixin.scss";

.container {
    margin: 0 auto;

    @include mobile {
        padding: 0 10px;
        width: auto;
    }

    @include sm-tablet {
        padding: 0 32px;
        width: 577px;
    }

    @include lg-tablet {
        padding: 0 32px;
        width: 769px;
    }

    @include desktop {
        padding: 0 16px;
        width: 1280px;
    }
}
