@import "../../styles/media.mixin.scss";

.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
  margin-bottom: 20px;
  overflow: scroll;

  .modal {
    position: relative;
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 20px;
    border-radius: 20px;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resultText {
    text-align: center;
  }

  .quantitySet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}
