@import "../../styles/media.mixin.scss";

.modalWrapper {
  position: fixed;
  box-sizing: border-box;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #3d3838, $alpha: 0.7);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 0;
  overflow: scroll;

  .modal {
    background-color: var(--white-color);
    color: var(--black-color);
    padding: 20px;
    border-radius: 20px;
    font-family: var(--secondary-font);
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .resultText {
    text-align: center;
  }

  .quantitySet {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .closeBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
  }
}
