.header {
  padding-top: 10px;
  padding-bottom: 10px;

  .headerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .cartIcon {
    color: black;
    font-size: 40px;
  }

  .cartLink {
    display: flex;
    align-items: center;
    gap: 10px;
    transition: transform 250ms linear;
  }
  .cartLink:hover {
    transform: scale(1.2);
  }
}
