.header {
  padding-top: 10px;
  padding-bottom: 10px;
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 10%,
    rgba(121, 75, 9, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  .headerItem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 10px;
  }
  .cartIcon {
    color: white;
    transition: transform 250ms linear;
  }
  .cartIcon:hover {
    transform: scale(1.2);
  }
}

