@import "../../styles/media.mixin.scss";

.wrapper {
  .headerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      overflow: scroll;
    }
  }
  .headerLinks {
    display: flex;
    gap: 70px;
  }
}
