.header {
  .headerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headerLinks {
    display: flex;
    gap: 70px;
  }
  .phoneNumbersSet {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: var(--secondary-font);
    a {
      transition: transform 250ms linear;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
