.modalWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  .modal {
    position: relative;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    color: black;
  }
  .quantitySet {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

