@import "../../../../styles/media.mixin.scss";

.wrapper {
  .headerItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile {
      justify-content: center;
    }
  }
  .headerLinks {
    display: flex;
    gap: 70px;
    .phoneNumberSet {
      @include mobile {
        display: none;
      }
      @include sm-tablet {
        display: none;
      }
    }
  }
}
